@import "vars";

/*==========  Desktop First  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

	.section {
		&-how {
			.how {
				@for $i from 1 through 5 {
					&:nth-child(#{$i}) {
						left: ($i - 1)*172px;
					}
				}

				&:nth-child(odd) {
					.how-image:before {
						transform: rotateZ(38deg);
					}
				}

				&:nth-child(even) {
					.how-image:before {
						transform: rotateZ(-38deg);
					}
				}
			}
		}
	}
	
	.footer {
		&-company {
			width: 100%;
		}
	}
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

	.main-menu {
		background-color: rgb(125, 128, 133);
		position: fixed;
		top: 82px;
		left: 0;
		right: 0;
		text-align: left;
		margin-left: 0;
		z-index: 98;
		display: none;

		ul {
			display: block;
			height: auto;
			padding: 15px 0;

			li {
				margin-bottom: 10px;
			}
		}
	}

	.section {

		&-reviews {
			.carousel-reviews {
				&-image {
					max-width: 300px;
				}
			}
		}

		&-catalog {
			.owl {
				&-item {
					transform: scale(1);
					padding: 15px 10px 20px;
				}

				&-stage-outer {
					padding: 0;
				}

				&-dots {
					margin-top: 15px;
				}
			}
		}

		&-how {
			&-content {
				height: auto;
				margin-bottom: 40px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
			}

			.how {
				position: static;
				margin: 10px 0;

				&:nth-child(3) {
					.how-content {
						width: 100%;
					}
				}

				&-image {
					&:before {
						display: none;
					}
				}

				&-form {
					.flex-row {
						& > .input, .input-div {
							margin-bottom: 25px;
						}

						flex-wrap: wrap;
					}
				}
			}
		}

		&-certificate {
			.carousel-certificate {
				max-width: 500px;
				margin: 0 auto;

				.owl {
					&-item {
						transform: scale(1);
					}
				}
			}
		}
	}

	.footer {
		&-company {
			width: auto;
		}
	}
}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	.button {
		min-width: auto;
	}

	.flex-row {
		display: block;
		& > * {
			width: 100%;
		}
	}

	.owl-carousel {
		.owl {
			&-dots {
				margin-top: 25px;
			}
		}
	}

	.section {
		padding: 25px 0 30px;

		&-main {
			&-title {
				font-size: 35px;
				margin-top: 20px;
			}

			&-subtitle {
				font-size: 25px;
				margin-bottom: 50px;
			}

			&-form {
				.flex-row {
					.input-div, .button {
						width: 100%;
						margin-bottom: 15px;
					}
				}
			}
		}

		&-reviews {
			.carousel-reviews {
				&-item {
					display: block;
				}

				&-image {
					padding-right: 60px;
					max-width: 490px;
					margin: 0 auto 20px;

					&-author {
						right: 0;
					}
				}

				&-author {
					text-align: right;
				}
			}
		}

		&-how {
			.how {
				&-form {
					.button {
						margin-top: 20px;
					}
				}
			}
		}

		&-certificate {
			.carousel-certificate {
				max-width: 230px;
				margin: 0 auto;
			}
		}
	}

	.footer {
		&-content {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
	}

	.hidden-xss {
		display: none !important;
	}

	.modal {
		&-content {
			padding: 15px;
		}
	}

	.header {
		&-phones {
			font-size: 14px;
		}
	}

	.section {
		&-main {
			&-title {
				font-size: 28px;
			}

			&-subtitle {
				font-size: 20px;
			}

			&-form {
				padding: 15px;
			}
		}

		&-how {
			.how {
				&-form {
					border: 0;
					padding: 0;

					.button {
						margin-top: 20px;
					}
				}
			}
		}		
	}

	.footer {
		&-content {
			.logo {
				display: block;
				&-text {
					margin-left: 0;

				}
			}
		}
	}

}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main-menu {
		.container {
			width: auto;
			padding: 0;
		}
	}
}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
	/**/

