@import "vars";

/*==========  Desktop First  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

	.main-menu {
		background-color: #fff;
		position: fixed;
		top: 89px;
		left: 0;
		right: 0;
		text-align: left;
		margin-left: 0;
		z-index: 98;
		display: none;

		ul {
			display: block;
			height: auto;
			padding: 15px 0;

			li {
				margin-bottom: 5px;
			}
		}
	}
	
	.footer {
		&-right {
			justify-content: center;
		}

		&-company {
			flex-grow: 0;
			margin-left: 30px;
		}
	}
}
	/**/


@media only screen and (max-width : 1100px) {
	.section {
		&-how {			
			&-content {
				height: auto;
				width: auto;
				text-align: left;
				background-image: none;				
				margin: 0 0 40px;

				br {
					display: none;
				}
			}

			.how {
				width: 100%;
				position: static;
				flex-direction: row !important;				
				margin-bottom: 20px;

				&-image {
					margin: 0 30px 0 0 !important;
				}

				&:nth-child(6) {
					width: 100%;
				}
			}	

		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

	.section {
		&-main {
			&-title {
				margin-top: 120px;
				font-size: 35px;
			}

			&-subtitle {
				margin-bottom: 40px;
			}

			&-form {
				.flex-row {
					&>.input, .input-div {
						width: 200px;
					}
				}

				.button {
					margin-left: 0;
				}
			}
		}

		&-plus {
			.plus {
				margin-left: 10px;
				margin-right: 10px;
			}
		}

		&-offer {
			background-size: auto;
		}

		&-reviews {
			.carousel-reviews {
				&-title {
					height: 65px;
				}
			}
		}
	}

}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	.button {
		min-width: auto;
	}

	.flex-row {
		display: block;
		& > * {
			width: 100%;
		}
	}

	.section {
		&-main {
			&-form {
				.flex-row {
					& >.input, .input-div {
						width: 100%;
						margin-bottom: 15px;
					}
				}
			}
		}

		&-offer {
			.item {
				order: 2;
				&:nth-child(2) {
					order: 1;
				}
			}
		}

		&-reviews {
			.carousel-reviews {
				&-title {
					height: auto;
				}
			}
		}

		&-calculate {
			.card {
				padding: 15px;
				
				&-row.last > * {
					width: 100%;
					margin-right: 0;
				}
			}			
		}
	}

	.footer {
		&-right {
			display: block;
		}

		&-company {
			margin-top: 30px;
			margin-left: 0;
			width: auto;
			text-align: left;
		}

		.text-center {
			text-align: left;
		}
	}
}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
	}

	.hidden-xss {
		display: none !important;
	}

	.mobtel{
        display: block;
	}
	
    .whatsapp{
        display: block;
    }

	.modal {
		&-content {
			padding: 15px;
		}
	}

	.section {
		&-main {
			&-title {
				margin-top: 50px;
				font-size: 28px;
			}

			&-form {
				padding: 15px;
			}
		}

		&-reason {
			&-list {
				li:nth-child(even) {
					padding-left: 0;
				}
			}
		}

		&-offer form {
			.input, .button {
				width: 100%;
			}
		}

		&-question {
			&-content {
				padding: 15px;
			}
		}

		&-how {
			.how {
				&-image {
					transform: scale(0.7);
					margin-right: 0 !important;
				}
			}
		}

		&-reviews {
			.carousel-reviews {
				padding: 0 35px;
				&-title {
					height: auto;
				}
			}
		}

		&-calculate {
			.card {
				padding: 15px;

				&-row {
					&:not(.small) {
						& > *, & > .input {
							margin-right: 0;
							width: 100%;
						}
					}

					&.small {
						justify-content: center;
					}
				}
			}
		}
	}

}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.main-menu {
		.container {
			width: auto;
			padding: 0;
		}
	}
}
	/**/

