@import "fonts";
@import "vars";
@import "base";

html, body {
	height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	color: $default_text_color;
	line-height: $default_line_height;
	font-size: $default_font_size;
	font-family: $default-font;
	font-style: normal;
	overflow-x: auto;
	opacity: 1;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #222;
	z-index: 100;
	display: none;

	.fa {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -38px;
		margin-left: -38px;
		color: #ffffff;
	}
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.bold {
	font-weight: bold;
}

.accent	{
	color: $accent;
}

.ico {
	&-1 {
		display: inline-block;
		background-image: url('../img/icons.png');
		width: 30px;
		height: 30px;
	}	
	&-phone {
		background-position: -30px center;
	}

	&-2 {
		display: inline-block;
		background-image: url('../img/about_icons.png');
		width: 53px;
		height: 53px;
		
		@for $i from 1 through 4 {
			&.i-#{$i} {
				background-position: -($i - 1) * 53px center;
			}
		}
	}

	&-3 {
		display: inline-block;
		background-image: url('../img/advantages.png');
		width: 62px;
		height: 58px;
		
		@for $i from 1 through 5 {
			&.i-#{$i} {
				background-position: -($i - 1) * 62px center;
			}
		}
	}

	&-4 {
		display: inline-block;
		background-color: $accent;
		background-image: url('../img/shags.png');
		width: 73px;
		height: 73px;
		
		@for $i from 1 through 5 {
			&.i-#{$i} {
				background-position: -($i - 1) * 73px center;
			}
		}
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 82px;
	padding: 6.5px 0;	
	font-size: 14px;
	z-index: 98;
	background-color: rgb(125, 128, 133);
	box-shadow: 0px 1px 2.85px 0.15px rgba(0, 0, 0, 0.64);
	color: #fff;

	&-content {
		display: flex;
		align-items: center;
	}

	.logo-text {
		font-size: $default_font_size;
		font-weight: 600;
		margin-left: 40px;
		width: 180px;
	}

	&-zvonok {
		text-align: right;
		font-weight: 600;
		margin-left: 10px;

		a {
			text-decoration: underline;
			color: #fff;
		}
	}
	
	&-phones {
		font-size: 18px;
		white-space: nowrap;
	}

	.hamburger {
		margin-left: 10px;
	}

}

.main-menu {
	flex-grow: 1;

	ul {
		display: flex;
		justify-content: center;
	}	

	li {
		margin-right: 20px;
		margin-bottom: 0;
	}

	a {		
		color: #fff;
		font-size: 13px;
		padding: 4px 0;

		&:hover, &.active {
			border-bottom: 1px solid $accent;
		}
	}
}

.page-wrapper {
	padding-top: 82px;
	overflow: hidden;
}

.section {
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;		
	background-size: cover;
	text-align: center;
	padding: 50px 0 60px 0;
	z-index: 1;

	&-title {
		color: $title_color;
		font-weight: 800;
		margin-bottom: 40px;
		font-size: 30px;

		.inverse & {
			color: #fff;
		}
	}

	&.gray {
		background-color: #f0f3f8;
	}

	&-main {
		color: #fff;

		&-title {
			font-weight: 800;
			font-size: 44px;
			margin: 35px 0 30px;
		}

		&-subtitle {
			font-size: 30px;
			font-weight: 800;
			margin-bottom: 165px;
		}

		&-form {
			max-width: 500px;
			margin: 0 auto;

			p {
				font-weight: 800;
				font-size: 18px;
				margin-bottom: 20px;
			}

			.flex-row {
				.input-div, .button {
					flex-grow: 1;
					width: 50%;
				}
			}
		}
	}

	&-plus {
		padding: 25px 0;

		&-content {
			display: flex;
			align-items: flex-start;
			justify-content: space-around;
			flex-wrap: wrap;
		}

		.plus {
			display: flex;
			width: 200px;
			text-align: left;
			margin: 10px 0;

			.ico-2 {
				flex-shrink: 0;
				margin-right: 10px;
			}

			&-text {
				font-weight: normal;	
				font-family: PTSans;
				color: #212026;
			}
		}
	}

	&-catalog {
		&-radios {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.radio {
				margin: 0 15px 10px;
			}
		}

		&-buttons {
			margin-bottom: 20px;

			.button {
				margin: 0 7px 10px;
			}

			&.big {
				margin-top: 30px;
				margin-bottom: 0;

				.button {
					min-width: 227px;
				}
			}
		}

		.owl {
			&-stage-outer {
				padding: 50px 0;
			}

			&-item {
				transition: transform 0.25s ease-in;
				transform: scale(0.9);
				
				img {
					box-shadow: 0px 4px 14.88px 1.12px rgba(0, 0, 0, 0.37);
				}
				
				&.scale {						
					transform: scale(1.2);
					z-index: 1;
				}
			}
		}
	}

	&-advantage {
		&-content {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.advantage {
			width: 250px;
			margin: 20px 30px;

			.ico-3 {
				margin-bottom: 20px;
			}

			&-title {
				color: $title_color;
				font-size: 16px;
				font-weight: 800;
				margin-bottom: 20px;
			}

			&-text {
				font-weight: 500;
			}
		}
	}	

	&-certificate {
		.owl {
			&-item {
				transition: transform 0.25s ease-in;
				transform: scale(0.8);
				
				&.scale {						
					transform: scale(1);
				}
			}
		}
	}

	&-reviews {
		.carousel-reviews {
			text-align: left;

			.owl-stage-outer {
				padding-top: 40px;
			}

			&-item {
				display: flex;
			}

			&-image {
				position: relative;
				max-width: 430px;
				flex-shrink: 0;
				margin-right: 80px;

				&-img {
					box-shadow: 0px 4px 14.88px 1.12px rgba(0, 0, 0, 0.37);
				}

				&-author {
					position: absolute;
					top: -33px;
					right: -60px;
					width: 139px !important;
					box-shadow: 0px 4px 14.88px 1.12px rgba(0, 0, 0, 0.37);
				}
			}

			&-content {
				font-family: PTSans;
			}

			&-author {
				margin-top: 15px;
				font-weight: bold;
				font-size: 16px;
			}
			// padding: 0 80px;

			// &-title {
			// 	color: #1f2020;
			// 	height: 42px;
			// 	display: flex;
			// 	align-items: center;
			// 	margin-bottom: 20px;
			// }

			// &-content {
			// 	font-size: 16px;
			// }
		}
	}

	&-how {
		&-content {
			position: relative;
			margin: 0px auto 150px auto;
			max-width: 1040px;
			height: 210px;
		}

		.how {
			position: absolute;
			width: 250px;

			&:nth-child(odd) {
				top: 0;
			}

			&:nth-child(even) {
				top: 136px;

				.how-image {
					&:before {
						transform: rotateZ(-34deg);
					}
				}
			}

			&:nth-child(3) {
				.how-content {
					width: 160px;
					margin: 0 auto;
				}
			}

			&:nth-child(5) {
				.how-image:before {
					display: none;
				}
			}

			@for $i from 1 through 5 {
				&:nth-child(#{$i}) {
					left: ($i - 1) * 200px;
				}
			}

			&-image {
				@include circle(73px);
				background-color: $accent;
				margin: 0 auto 20px;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 220px;
					border-top: 2px dashed $accent;
					transform: rotateZ(34deg);
					transform-origin: 0 0;
					z-index: -1;
				}
			}

			&-title {
				font-weight: 800;
				font-size: 18px;
				color: #363636;
				margin-bottom: 10px;
			}

			&-content {
				font-weight: 600;
				font-size: 16px;
				color: #363636;
			}
		}

		.how-form {
			padding: 35px 40px;
			border: 5px solid $accent;

			&-title {
				font-size: 18px;
				font-weight: 800;
				color: $brown;
				margin-bottom: 30px;
			}

			.input {
				border-radius: 0;
				padding: 12px;
				border: 0;
				border-bottom: 1px solid $brown;

				&::-webkit-input-placeholder {
					color: #414141;
				}
				&::-moz-placeholder {
					color: #414141;
				}
				&::-ms-input-placeholder {
					color: #414141;
				}				
			}

			.error-message {
				padding-left: 12px;
			}
		}
	}

	&-map {
		height: 437px;
	}
}

.footer {
	background-color: rgb(125, 128, 133);;
	color: #ffffff;
	font-weight: 600;
	padding: 10px 0;	

	.logo {
		display: flex;
		align-items: center;

		&-text {
			margin-left: 40px;
		}
	}

	&-content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		& > div {
			margin: 10px 0;
		}
	}

	&-location, &-contact {
		display: flex;
		align-items: center;

		.ico-1 {
			margin-right: 10px;
		}
	}

	&-phones {
		text-align: right;
		a {
			color: #fff;
			text-decoration: underline;
		}
	}

	&-phone {
		font-size: 18px;
	}

	&-company {
		font-family: PTSans;
		font-weight: normal;
		text-align: center;

		div {
			display: inline-block;
			text-align: right;
		}
		img {
			width: 124px;
		}
	}

	// a {
	// 	color: #ffffff;
	// }



}


@import "media"; // Всегда в конце
